<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New post: "<%= @post.title %> created successfully."</h1>
    <small>
      By: <%= @post.user.name %>
    </small>
    <p>
      You have favorited your post by default and will receive updtes when there's new comment to your post.
    </p>
    <p>
      <%= link_to "View Comment on site", topic_post_url(@post.topic, @post") %>
    </p>
  </body>
</html>
