<h1>All Adveertisments</h1>
<% @advertisements.each do |advertisement| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <p><%= link_to "#{advertisement.title} - $#{advertisement.price}", advertisement %></p>
            </h4>
        </div>
    </div>
<% end %>
